<%= form_for(@item,{:url => :item_create,  :html => { :id => "new_item_form"}}) do|f| %>

    <div id="errors_list">

    </div>
    <%= f.fields_for :item_descriptions do |builder|%>
        <%= render "new_item_descr_field", :f => builder %>
    <% end%>
    <div class="form-group">
      <label>
        <%= t("form_input.item.item_category") %>
      </label>
          <%= f.collection_select(:item_category_id, CategoryDescription.all.where(:locale => 'en_US').order(:name), :item_category_id, :name, {prompt: t("form_input.item.default_select") },{class: "form-control", required: true})%>
    </div>

      <%= f.fields_for :field_rate  do |builder| %>
            <%= render "field_rate" , :f => builder%>
      <% end%>


    <%= f.fields_for :item_location  do |builder| %>
        <%= render "field_location", :f => builder %>
    <% end%>
    <div class="form-group">
      <label>
        <%= t("form_input.item.item_tags") %>
        <span id="tag_number">0</span>/4
      </label>
      <%= f.fields_for :item_tags  do |builder| %>
          <%= builder.text_field :tag_text,{class:[ "form-control","taggable"], id: "tags_editor",value: ""} %>
      <% end%>
    </div>
    <input type="submit" id="button_submit" class="btn btn-primary btn-lg"  />
    <input type="button" id="demo_submit" value="demo" class="btn btn-primary btn-lg"  />
    <div id="demo_result"></div>




<% end %>