
<div class="item_result_cell" data_item_id="<%= @item.id %>" id="itemid<%= @item.id %>">
  <div class="item_title"> <%=  link_to @item.title,item_show_path(@item.id) %> </div>
  <div class="item_location"> <%= @item.location %> </div>
  <div class="item_created"> <%= @item.created %> </div>
</div>
