

<script>
  $(document).ready(function(){
        var item_list = new WIDGET_item_list({});
  });
</script>

<div class="paginable">

  <%= paginate(@items.model) %>
</div>
<section id="item_list_section"  class="primary_preview_item preview_list">
  <div class="item_container" id="item_scroll_area">
    <% @items.list_items do |item| %>
        <div class="item_result_cell" data_item_id="<%= item.id %>" data_item_slug="<%= item.slug %>" id="itemid<%= item.id %>">
          <div class="item_title"> <%=  link_to item.title,  item_show_path({:item_id => item.id,:slug => item.slug}) %> </div>
          <div class="item_location"> <%= item.location %> </div>
          <div class="item_created"> <%= item.created %> </div>
        </div>
  <% end %>
  </div>

</section>
<section id="secondary_result_wrapper" class="secondary_preview_result">
  <div id="secondary_result">

  </div>

</section>
