<div class="panel panel-default">
  <div class="panel-heading">Quick Search</div>
  <div class="panel-body">
    <%= form_for(@item,{:url => :item_main_search,  :html => { :id => "main_search_form",:method => 'get'}}) do|f| %>

        <%= f.fields_for :item_location  do |builder| %>
            <div class="form-group">
              <label>
                <%= t("form_input.item.item_category") %>
              </label>
              <%= f.collection_select(:item_category_id, CategoryDescription.get_all, :item_category_id, :name, {prompt: t("form_input.item.default_select") },{class: "form-control"})%>
            </div>
            <div form="form-group">
              <label>
                <%= t("form_input.item.item_location_district") %>
              </label>
              <%= builder.collection_select(:location_district_id, LocationDistrict.default_list, :id, :name, {prompt: t("form_input.item.default_select") },
                                            {
                                                    class: "form-control",
                                                    id: "location_district",
                                                    required: true

                                            })

              %>
            </div>
        <% end%>


        <%= f.submit "Search", { :id => ["submit_user"], :class => ["btn btn-primary btn-lg btn-block"]} %>

    <% end %>

  </div>
</div>